DATABASE_URL="postgresql://postgres:postgres@localhost:5432/{{name}}"
NEXTAUTH_SECRET="replace-with-at-least-32-chars-of-random-bytes"
NEXTAUTH_URL="http://localhost:3000"

# docker-compose postgres overrides (optional)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB={{name}}
